/* 기본 설정 */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

/* 제목 스타일링 */
h3 {
  color: #333;
  margin-bottom: 15px;
  font-size: 18px;
}

/* 인풋 스타일링 */
input[type="text"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

/* 결제 버튼 스타일링 */
button#submit_payment {
  width: 100%;
  padding: 12px;
  background-color: rgb(164, 199, 255);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

button#submit_payment:hover {
  background-color: rgb(72, 142, 255);
}

/* 상품 정보 스타일링 */
#product-value {
  margin-top: 20px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
  font-size: 14px;
  color: #555;
}
